.votelist-container {
  background: #443a84;
  padding: 2vh 2vh 0 2vh;
  opacity: 0.95;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
  border-radius: 4px;
}
.votelist {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.votelist-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.votelist-left {
  width: 70%;
  overflow: hidden;
}
.votelist-right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
}
.votelist-vote {
  display: flex;
  justify-content: space-between;
}
.artist-header {
  margin-bottom: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  text-transform: uppercase;
  color: #e97db1;
}
