body {
  background: #02b7dd;
  color: white;
}
button {
  background-color: #e97db1 !important;
  border-color: #e97db1 !important;
}
.voting {
  background: #443a84;
  padding: 1vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.toplists-container {
  background: #443a84;
  padding: 1vh;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
}
.totaltoplist-container {
  background: #443a84;
  padding: 1vh;
  margin-bottom: 3vh;
}
.totaltoplist-item {
  display: flex;
  justify-content: space-between;
}
.toplists {
  display: flex;
  flex-flow: wrap;
  margin: -4px;
}
.toplists > * {
  margin: 4px;
}
.toplistItem {
  width: 100%;
}
.toplistVote {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.centerText {
  text-align: center;
}
.button-margin {
  margin-left: 10px;
}
.title {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 11vw;
}
