body{
  background-image: url("background.jpg");
}
.voting {
  background: #FBAED2;
  padding: 1vh;
  border-radius: 5px;
  opacity: 0.95;
  margin-bottom: 1vh;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.5)
}
.votelist {
  background: #FBAED2;
  padding: 1vh;
  border-radius: 5px;
  opacity: 0.95;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 1vh;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.5)
}
.toplists-container {
  background: #FBAED2;
  padding: 1vh;
  border-radius: 5px;
  opacity: 0.95;
  margin-bottom: 1vh;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.5)
}
.toplists {
  display: flex;
  flex-flow: wrap;
  margin: -4px;
}
.toplists > * {
  margin: 4px;
}