html {
  background-image: url("background.jpg");
}
.voting {
  background: #ffc7e4;
  padding: 1vh;
  border-radius: 5px;
  opacity: 0.99;
  margin-top: 1vh;
  margin-bottom: 3vh;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.toplists-container {
  background: #fbaed2;
  padding: 1vh;
  opacity: 0.95;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
}
.totaltoplist-container {
  background: #fbaed2;
  padding: 1vh;
  opacity: 0.95;
  margin-bottom: 3vh;
}
.totaltoplist-item {
  display: flex;
  justify-content: space-between;
}
.toplists {
  display: flex;
  flex-flow: wrap;
  margin: -4px;
}
.toplists > * {
  margin: 4px;
}
.toplistItem {
  width: 100%;
}
.toplistVote {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.centerText {
  text-align: center;
}
.button-margin {
  margin-left: 10px;
}

